version: "3.9"
services:
  payments:
    build: .
    command: uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8001:8000"
    env_file:
      - .env.example
    volumes:
      - .:/app
